<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MoveBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- <servlet>
    <description></description>
    <display-name>SpiderAction</display-name>
    <servlet-name>SpiderAction</servlet-name>
    <servlet-class>action.SpiderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpiderAction</servlet-name>
    <url-pattern>/SpiderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveBlogAction</display-name>
    <servlet-name>MoveBlogAction</servlet-name>
    <servlet-class>action.MoveBlogAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveBlogAction</servlet-name>
    <url-pattern>/MoveBlogAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Oauth2Action</display-name>
    <servlet-name>Oauth2Action</servlet-name>
    <servlet-class>action.Oauth2Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oauth2Action</servlet-name>
    <url-pattern>/Oauth2Action</url-pattern>
  </servlet-mapping> -->
</web-app>